.cart-product-image img{
    width:64px;
    height:64px;
}

.cart-item-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
}

.cart-item-container div{
   margin:10px;

}

.product-title{
    flex-direction: column;
}

.cart-item-container i{
    cursor: pointer;
}

.remove-product{
    color:red;
}

