.signin-container{
        display:flex;
        justify-content:center;
        align-items: center;
        height:calc(80vh - 80px);   
    }

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:5px;
  }

.signin-form{
    max-width: 400px;
    margin:25px;
}

.signin-btn-wrapper > p >span{
    color:red;
    text-decoration: underline;
    cursor: pointer;
}

.signin-btn-wrapper{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;

}
.signin-btn-wrapper p{
    display:flex;
    justify-content:center;
    align-items: flex-end;
    margin: 10px;
}


.signin-btn{
    background-color: var(--Orange); /* Green */
    border: none;
    color: white;
    padding: 11px 32px;
    margin:10px 10px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    max-width:200px;
    border-radius: 5px;
    cursor: pointer;
}

.err{
    text-align: center;
    width: 100%;
    font-size: 15px;
    color:red;
    margin:20px 10px 10px 10px;
}

.visible{
    display: inline;

}

.hidden{
    display:none

}